body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}

header {
  position: relative;
  text-align: center;
  height: 300px; 
  overflow: hidden; 
  
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

h1 {
  color: #fbfd84; 
  position: absolute;
  z-index: 2; 
  left: 3%;
  font-size: 500%;
  text-shadow: 
    -2px -2px 0 #FFAD60,  
    2px -2px 0 #FFAD60,
    -2px 2px 0 #FFAD60,
    2px 2px 0 #FFAD60;
}

h2 {text-align: center;
  background-color: #4bb9ab;
  color: #f89233;
  padding: 50px;
  margin-top: 3px;
  margin-bottom: 5px;
  font-size:40px
}

.logo-container {
  position: absolute;
  top: 28%;
  right: 15%;
  z-index: 1;
}

.logo-container img {
  width: 190px;
}

nav{
  max-width: 300px;
  background-color: #FFB367;
}

a{
  font-size: 200%;
  display: block; 
  padding: 40px;   
  text-decoration: none; 
  max-width: 70px;
}

nav a {
  text-decoration: none;
  color: #FBF6F0;
  text-decoration: underline
}

#alargo{
  max-width: 182.3px;
}

aside{
  margin-left: 100px;
  max-width: 100%;
}

.contenedor-cuerpo{
  display: flex;
  background-color: #FFE2BC;
  margin-top: 5px;
}

h3{
  font-size: 150%;
  margin-top: 40px;
  color: brown;
}

aside>p{
  font-size: 120%;
  margin-top: 5px;
}

nav a.active {
  color: #AEE6E6;
  font-weight: bold; 
  text-decoration: none
}

p>a{
  font-size: 100%;
  display: inline;
  padding: 4px;
}

#conteinerr{
  margin-left: 50px;
  margin-top: 50px;
}

footer{
  text-align: center;
  background-color: #4bb9ab;
  padding: 0;
}

h4{
  color: #f89233;
}